.card {
    border-color:gold;
    border-style: double;
    border-width: 8px;
    position: relative;
    text-align: center;
    width: 280px;
    display: list-item;
    overflow: hidden;
    margin: 10px;
}